# Q1. Scan n values in range 0-3 and print the number of times each value has occurred.

In [10]:
n = 1
count1 = 0
count2 = 0
count3 = 0
count0 = 0
while n == True:
    j = int(input("Enter a number: "))
    if j > 3 or j < 0:
            print("Enter a valid number.")
            break
    else:
        if j == 0:
            count0 += 1
        if j == 1:
            count1 += 1
        if j == 2:
            count2 += 1
        if j == 3:
            count3 += 1
print("0:", count0)
print("1:", count1)
print("2:", count2)
print("3:", count3)

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a valid number.
0: 0
1: 0
2: 1
3: 1

# Q2. Take 3 numbers as input and store their tables in a list whose elements are table of the number user has entered.

In [13]:
i = int(input("Enter a number: "))
k = int(input("Enter another number: "))
l = int(input("Enter yet another number: "))
lst1 = []
lst21 = []
lst22 = []
lst23 = []
j = 1
for j in range(1,11):
    lst21.append(i*j)
    lst22.append(k*j)
    lst23.append(l*j)
lst1.append(lst21)
lst1.append(lst22)
lst1.append(lst23)
print(lst1)

Enter a number: 2
Enter another number: 3
Enter yet another number: 1
[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

# Q3. Store details of movies in any dictionary you want. each movie Must store details like
# name, year, director name, production cost, collection made (earning).
# & Perform the following :-
# A) print all movie details
# B) Display name of movies released before 2015
# C) print movies that made a profit.
# D) print movies that made a loss.
# E) print movies directed by a particular director.

In [19]:
"""movie = {
    "name": ""
    "year": ""
    "director": 
    "production": 0
    "collection": 0
}
name = input("Enter the name: ")
year = int(input("Enter the year of release: "))
direc = input("Enter the Director's name: ")
"""

'movie = {\n    "name": ""\n    "year": ""\n    "director": \n    "production": 0\n    "collection": 0\n}\nname = input("Enter the name: ")\nyear = int(input("Enter the year of release: "))\ndirec = input("Enter the Director\'s name: ")\n'

# Store n*n int values and find the sum of diagonal elements.

In [34]:
i = 0
j = 0
n = 0
k = 0
sum = 0
lst = []
lst1 = []
n = int(input("Enter n: "))
for i in range(0, n):
    lst1 = []
    for j in range(0, n):
        m = int(input("Enter a number: "))
        lst1.append(m)
    lst.append(lst1)
for k in range(0, n):
    sum += lst[k][k]
print(sum)

Enter n: 3
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
3

# Find the sum of the other diagonal, too.

In [49]:
i = 0
j = 0
n = 0
k = 0
o = 0
sum = 0
sum1 = 0
lst = []
lst1 = []
n = int(input("Enter n: "))
for i in range(0, n):
    lst1 = []
    for j in range(0, n):
        m = int(input("Enter a number: "))
        lst1.append(m)
    lst.append(lst1)
for k in range(0, n):
    sum += lst[k][k]
    i=n-1
    for i in range(n-1, 0, -1):
        sum1 += lst[k][i]
print(sum)
print(sum1)

Enter n: 3
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 1
3
6

# Create a tuple of n int values and find the second maximum

# Store 5 student details (Roll no.,  name, cgpa, semester) as tuple of table.